extends layout

block content
  ul(class="nav nav-tabs")
    li
      a(href="/index")="Call the /index page"
    li(class="active")
      a(href="/protected/index")="You are on the /protected/index page"
    li
      a(href="http://localhost:8888/cas/logout?service=http://localhost:3000")="Call the CAS logout"
  h3
    p User: #{user}
    p Attributes: #{attributes}
